body {
    background: linear-gradient(-45deg, #d5b0e6, #daa3cf, #d7afb7, #d3f0f5);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    /*  */
   
  }
  table,p{
    margin-left: 60px;
    padding-top: 20px;
  }
  h1{
    text-align: center;
    text-shadow:0px 5px 10px #ffffff;
  }
  
   
  /* https://uiverse.io/detail/adamgiebl/fluffy-liger-17 */
  #answercal{ 
 background: linear-gradient(-45deg, #e408f0, #4e4352, #eb0d69, #e8adf6);
 background-size: 800% 400%;
 padding: 1em 2em;
 display: inline-block;
 border: none;
 border-radius: 10px;
 font-size: 17px;
 font-weight: 700;
 color: white;
 margin-left: 700px;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
 height: 50px;
 
}
#grade{
    padding-top:20px ;
    padding-bottom: 40px;
    text-align: center; 
    margin-left: auto;
    margin-right:auto ;
    font-size: 25px;
    font-weight: 700;
    
}
p{
    font-weight: bolder;
}


#answercal:hover {
 animation: gradient 3s infinite;
 transform: scale(1.05);
}

#answercal:active {
 animation: gradient 3s infinite;
 transform: scale(0.8);
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}

